<footer class="page-footer">
  <div class="page-footer__second-row">
    <span style="grid-column: auto/span 4;">© 2022 <a href="http://finanzen.net">finanzen.net</a> GmbH</span>
    <span style="grid-column: auto/span 4;">v.0.1.0</span>
    <a style="grid-column: auto/span 4;" href="https://dev.azure.com/finanzennet/finando/_git/common-styles" title="Azure DevOps Repo">
      <img class="img img--ratio-1-1 height-1-em width-auto font-size-1.500-rem" src="/image/azure-devops.ico">
    </a>
  </div>
</footer> 