<aside class="side-panel side-panel--right" data-sg-side-panel="search-mobile">
  <div class="flex flex--col flex--gap-0.50 background-color-brand-finnet padding-1.00">
    <div class="flex flex--row flex--vertical-center">
      <button class="button button--pill button--icon button--login" data-sg-side-panel-close="search-mobile"
        aria-label="Mobile Suche">
        <span class="icon icon--arrow-left"></span>
      </button>
      <span class="font-color-white font-size-x1.250">Suche</span>
    </div>
    <form class="form-group form-group--stretch form-group--icon">
      <input data-docu-search="mobile" type="text" class="input" placeholder="Search">
      <button class="form-group__icon icon icon--search" aria-label="Search"></button>
    </form>
  </div>
  <div data-docu-search-results="mobile" class="padding-1.00"></div>
</aside>