<form
  class="form-group form-group--stretch form-group--icon display-none-md"
  data-sg-tooltip-ref="docu-search-tooltip"
>
  <input data-docu-search="desktop" type="text" class="input" placeholder="Search...">
  <button class="form-group__icon icon icon--search"></button>
</form>
<div class="tooltip"
  data-sg-tooltip
  data-sg-tooltip-id="docu-search-tooltip"
  data-sg-tooltip-open-by="event"
  data-sg-tooltip-close-by="mouseout"
  data-sg-tooltip-placement="bottom-start"
  data-sg-tooltip-show-arrow="false"
  data-sg-tooltip-strategy="fixed"
>
  <div data-docu-search-results="desktop"></div>
</div>